account-app-old/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0dd25f9b-5b8d-452b-9a13-05d4b275504e" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="8dc3137e-8d58-433b-8851-88392eb557b2" >
		<db:select doc:name="Select" doc:id="b2290a29-b45a-4eef-b053-ce257dfcb686" config-ref="Database_Config">
			<db:sql >SELECT * FROM flights_customers WHERE accountType = :type</db:sql>
			<db:input-parameters ><![CDATA[#[{"type": attributes.queryParams['type']}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="46f719c5-e037-4767-8d5f-16c20dbaee25" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( (payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getSingleAccount" doc:id="60869d74-86ed-4428-9998-c72d6655439e" >
		<db:select doc:name="Select" doc:id="19349a31-d8f2-4c53-9284-32b50ee97c63" config-ref="Database_Config">
			<db:sql >SELECT * FROM flights_customers WHERE accountID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{ id: attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="eebb1d5a-6433-4eab-a80a-da9e5a838772" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload map ( (payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
}))[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
